/* 字体颜色
[font-primary] {
  color: #333333
}

[font-secondary] {
  color: #666666
}
...
-------------------------- */
@each $style in (primary $color-text-primary, secondary $color-text-secondary, tertiary $color-text-tertiary, quaternary $color-text-quaternary) {
  [font-#{nth($style, 1)}] {
    color: #{nth($style, 2)};
  }
}

/* 背景颜色
[bg-primary] {
  background-color: #F1F1F1;
}
[bg-secondary] {
  background-color: #FFFFFF;
}
...
-------------------------- */
@each $style in (primary $background-color-primary, secondary $background-color-secondary, tertiary $background-color-tertiary) {
  [bg-#{nth($style, 1)}] {
    background-color: #{nth($style, 2)};
  }
}

/* 背景颜色
[bga1] {
  background-color: rgba(0, 0, 0, 0.1);
}
[bga2] {
  background-color: rgba(0, 0, 0, 0.2);
}
...
-------------------------- */
@each $i in 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1 {
  [bga#{$i * 10}] { 
    background-color: rgba(0, 0, 0, $i);
  }
}

/* 滤镜
-------------------------- */
[brightness-120] {
  filter: brightness(120%);
}

[brightness-140] {
  filter: brightness(140%);
}

[brightness-140-sepia-40] {
  filter: brightness(140%) sepia(40%);
}
